{% extends "master.html" %}

{% block extra_css %}
<!-- This line holds stylesheets for individual pages if needed -->
{% load static %}
<link rel="stylesheet" href="{% static "vocab/css/home.css" %}">
{% endblock extra_css %}

{% block content %}
<div class="row content">
    <p class="para">Welcome to the Create Vocabulary Page.  Here you can access and submit the form to create a complete vocabulary with multiple verbs, activity types and perhaps even more with this page.  Adventure it out there!</p>
    <hr>

    <form action="{% url 'createVocab' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

    <hr>
</div>
{% endblock content %}
