{% extends "master.html" %}
{% load i18n %}

{% block extra_css %}
<!-- This line holds stylesheets for individual pages if needed -->
{% load static %}
<link rel="stylesheet" href="{% static "vocab/css/home.css" %}">
{% endblock extra_css %}

{% block content %}
<div class="row content">
    <p class="para">Welcome to the Create IRI Page.  Here you can access and submit the form to request a persistant IRI.  Have fun!</p>
    <hr>

    <form action="{% url 'createIRI' %}" class="form-inline" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="forms">
            {% for form in formset %}
            <div id="form-{{ forloop.counter0}}">
                {{ form.errors }}
                <big>https://w3id.org/xapi/ {{ form.vocabulary }} / {{form.termType}} / {{form.term}}</big>
                <br>
            </div>
            {% endfor %}
        </div>
        <input class="btn btn-success" type="submit" value="Submit"/>
        <button type='button' class='btn btn-info' id="add-form"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Add IRI</button>
    </form>

    <hr>

</div>
<br>
{% endblock content %}

{% block extra_js %}
<script type="text/html" id='formtemplate'>
    <div id="form-__prefix__">
        <big>https://w3id.org/xapi/ {{ formset.empty_form.vocabulary }} / {{formset.empty_form.termType}} / {{formset.empty_form.term}}</big>
        <br>
    </div>
</script>
<script type="text/javascript">
    $('#add-form').click(function(ev) {
        ev.preventDefault();
        var count = $('.forms').children().length;
        $('div.forms').append($('#formtemplate').html().replace(new RegExp('__prefix__', 'g'), count));
        $('#id_form-TOTAL_FORMS').attr('value', count+1);
    })
</script>
{% endblock extra_js %}
