{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vocab Registry">
    <!-- Stylesheets needed for the whole site can go here -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "vocab/css/master.css" %}">
    {% block extra_css %}<!-- This line holds stylesheets for individual pages if needed -->{% endblock extra_css %}
    <title>{% block title %}Vocab Registry{% endblock title %}</title>
</head>
<body>
<!-- Content here would be on every single page (like a login bar at the top or footer) -->
<div class="jumbotron">
    <div class="container text-center">
        <h1>xAPI Vocabulary Registry</h1>
        <h3>All the <strong>words</strong> in all the <strong>world!</strong></h3>
    </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img height="35" width="55" src="{% static "vocab/img/test.png" %}"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active" id="home"><a href="{% url 'home' %}">Home</a></li>
        <li id="createIRI"><a href="{% url 'createIRI' %}">Create IRI</a></li>
        <li id="createVocab"><a href="{% url 'createVocab' %}">Create Vocabulary</a></li>
        <li id="createUser"><a href="{% url 'createUser' %}">Create New User</a></li>
        <li id="userProfile"><a href="#">View User Profile</a></li>
        <li id="searchResults"><a href="#">Search Results</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <div class="input-group col-sm-9">
              <input type="text" class="form-control" placeholder="Search Registry...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled="true">
                      <span class="glyphicon glyphicon-search"></span>
                  </button>
              </span>
          </div>
        {% if user.is_authenticated %}
        <li>Hello<a href="{% url 'userProfile' %}">{{ user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-log-in"></span> Account Login </a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
{% block content %}<!-- Individual page content goes here -->{% endblock content %}
</div>

<footer class="container-fluid text-center">
    <form class="form-inline">Email Sign Up:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
    <p>Copyright 2016 ADLnet.gov or xAPI Vocabulary Working Group | All Rights Reserved | Sponsored by the Office of the Under Secretary of Defense for Personnel and Readiness (OUSD P&amp;R)
    This is an official website of the U.S. Government © Advanced Distributed Learning</p>
</footer>

<!-- Full site javascript can go here if you wish-->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- <script type="text/javascript" src="{% static "vocab/js/test.js" %}"></script> -->
{% block extra_js %}<!-- Individual page javascript goes here -->{% endblock extra_js %}
</body>
</html>
