{% extends "master.html" %}

{% block content %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="https://w3id.org/xapi/adl">ADL Controlled Vocabulary</a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="mailto:xapi-vocabulary@adlnet.gov">Contact</a></li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle active" data-toggle="dropdown">xAPI <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://xapi.adlnet.gov">xAPI Home</a></li>
            <li><a href="https://github.com/adlnet/xAPI-Spec/blob/master/xAPI.md">xAPI Specification</a></li>
            <li><a href="https://adl.gitbooks.io/companion-specification-for-xapi-vocabularies/content/">Vocabulary Companion Spec</a></li>
            <li><a href="https://adl.gitbooks.io/experience-xapi-vocabulary-primer/content/">Vocabulary Primer</a></li>
            <li><a href="https://w3id.org/xapi/ontology">Vocabulary Schema</a></li>
          </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Verbs<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#abandoned">abandoned</a></li>
            <li><a href="#answered">answered</a></li>
            <li><a href="#asked">asked</a></li>
            <li><a href="#attempted">attempted</a></li>
            <li><a href="#attended">attended</a></li>
            <li><a href="#commented">commented</a></li>
            <li><a href="#completed">completed</a></li>
            <li><a href="#exited">exited</a></li>
            <li><a href="#experienced">experienced</a></li>
            <li><a href="#failed">failed</a></li>
            <li><a href="#imported">imported</a></li>
            <li><a href="#initialized">initialized</a></li>
            <li><a href="#interacted">interacted</a></li>
            <li><a href="#launched">launched</a></li>
            <li><a href="#logged-in">logged-in</a></li>
            <li><a href="#logged-out">logged-out</a></li>
            <li><a href="#mastered">mastered</a></li>
            <li><a href="#passed">passed</a></li>
            <li><a href="#preferred">preferred</a></li>
            <li><a href="#progressed">progressed</a></li>
            <li><a href="#registered">registered</a></li>
            <li><a href="#responded">responded</a></li>
            <li><a href="#resumed">resumed</a></li>
            <li><a href="#satisfied">satisfied</a></li>
            <li><a href="#scored">scored</a></li>
            <li><a href="#shared">shared</a></li>
            <li><a href="#suspended">suspended</a></li>
            <li><a href="#terminated">terminated</a></li>
            <li><a href="#waived">waived</a></li>
            <li><a href="#voided">voided</a></li>
          </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activity Types <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#assessment">assessment</a></li>
            <li><a href="#attempt">attempt</a></li>
            <li><a href="#course">course</a></li>
            <li><a href="#file">file</a></li>
            <li><a href="#interaction">interaction</a></li>
            <li><a href="#lesson">lesson</a></li>
            <li><a href="#link">link</a></li>
            <li><a href="#media">media</a></li>
            <li><a href="#meeting">meeting</a></li>
            <li><a href="#module">module</a></li>
            <li><a href="#objective">objective</a></li>
            <li><a href="#performance">performance</a></li>
            <li><a href="#profile">profile</a></li>
            <li><a href="#question">question</a></li>
            <li><a href="#simulation">simulation</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<div xmlns="http://www.w3.org/1999/xhtml" class="container-fluid" prefix="
    dcterms: http://purl.org/dc/terms/
    foaf: http://xmlns.com/foaf/0.1/
    owl: http://www.w3.org/2002/07/owl#
    prov: http://www.w3.org/ns/prov#
    rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
    rdfs: http://www.w3.org/2000/01/rdf-schema#
    skos: http://www.w3.org/2004/02/skos/core#
    xapi: https://w3id.org/xapi/ontology#
    xsd: http://www.w3.org/2001/XMLSchema#">
<br />

  <!-- ADL Vocabulary -->
  <div typeof="skos:ConceptScheme" about="https://w3id.org/xapi/adl">
    <div property="skos:prefLabel" lang="en" xml:lang="en" content="ADL Vocabulary">
      <h2 class="page-header">ADL Vocabulary</h2>
    </div>
    <div property="skos:editorialNote" lang="en" xml:lang="en" content="The ADL vocabulary was updated in August, 2015 a vocabulary schem for IRI persistence. When using the original ADL verbs for xAPI statements, developers and CoPs should continue to use the old IRI path at http://adlnet.gov/expapi/verbs. Newly minted ADL controlled voabulary terms will use a persistent IRI, https://w3id.org/xapi so that IRIs can be better designed and maintained."><strong>Editorial Note:</strong>
      <p>The ADL vocabulary was updated in August, 2015 a vocabulary scheme for IRI persistence. When using the original ADL verbs for xAPI statements, developers and CoPs should continue to use original identifier at http://adlnet.gov/expapi/verbs/verbname. Newly minted ADL controlled vocabulary terms will use a persistent IRI, https://w3id.org/xapi so that IRIs can be better designed and maintained. By adopting this approach, the target URL for <a href="http://linkeddatabook.com/editions/1.0/#htoc11" target="_blank">semantic dereferencing</a> can be more easily managed and updated. This vocabulary is available as RDFa and can also be retrieved as machine-readable JSON-LD by using a GET header request from the Vocabulary IRI  by using a HTTP header request (e.g., <em>curl --header "Accept: application/ld+json" -L https://w3id.org/xapi/adl</em>).</p>
    </div>

  <div typeof="prov:Activity" about="https://www.w3.org/community/xapivocabulary">
    <div property="foaf:name" lang="en" xml:lang="en" content="xAPI Vocabulary Working Group"><strong>Published by:</strong> <a href="https://www.w3.org/community/xapivocabulary/">xAPI Vocabulary Working Group</a></div>
  </div>
  <div typeof="prov:Entity" about="https://w3id.org/xapi/adl">
    <div rel="prov:wasGeneratedBy" resource="https://www.w3.org/community/xapivocabulary"></div>
    <div rel="prov:wasRevisionOf" resource="http://adlnet.gov/expapi"></div>
  </div>
    <div property="dcterms:created" datatype="xsd:date" content="2015-04-27">Date Created: 2015-04-27</div>
    <div property="dcterms:modified" datatype="xsd:date" content="2015-10-02">Last Modified: 2015-10-02</div>
  </div>

  <!-- Vocabulary for ADL verbs -->
  <h2 class="page-header">Verbs</h2>
  <div class="panel panel-default table-responsive">
    <!-- Table Header -->
    <table class="table table-hover">
      <thead>
        <tr class="info">
          <th>Label</th>
          <th>Description</th>
          <th>ID (IRI)</th>
          <th>Closely Related Term</th>
          <th>Vocabulary</th>
        </tr>
      </thead>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="https://w3id.org/xapi/adl/verbs/abandoned" id="abandoned">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="abandoned">abandoned</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the activity provider has determined that the session was abnormally terminated either by an actor or due to a system failure.">Indicates the activity provider has determined that the session was abnormally terminated either by an actor or due to a system failure.</td>
          <td><a href="https://w3id.org/xapi/adl/verbs/abandoned">https://w3id.org/xapi/adl/verbs/abandoned</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202080923-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202080923-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202080923-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/answered" id="answered">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="answered">answered</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor replied to a question, where the object is generally an activity representing the question. The text of the answer will often be included in the response inside result. ">Indicates the actor replied to a question, where the object is generally an activity representing the question. The text of the answer will often be included in the response inside result. </td>
          <td><a href="http://adlnet.gov/expapi/verbs/answered">http://adlnet.gov/expapi/verbs/answered</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200637941-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200637941-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200637941-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/asked">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="asked" id="asked">asked</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates an inquiry by an actor with the expectation of a response or answer to a question. ">Indicates an inquiry by an actor with the expectation of a response or answer to a question. </td>
          <td><a href="http://adlnet.gov/expapi/verbs/asked">http://adlnet.gov/expapi/verbs/asked</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200786389-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200786389-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200786389-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/attempted" id="attempted">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="attempted">attempted</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor made an effort to access the object. An attempt statement without additional activities could be considered incomplete in some cases.">Indicates the actor made an effort to access the object. An attempt statement without additional activities could be considered incomplete in some cases.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/attempted">http://adlnet.gov/expapi/verbs/attempted</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202535833-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202535833-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202535833-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/attended" id="attended">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="attended">attended</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor was present at a virtual or physical event or activity.">Indicates the actor was present at a virtual or physical event or activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/attended">http://adlnet.gov/expapi/verbs/attended</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202618797-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202618797-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202618797-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/commented" id="commented">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="commented">commented</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor provided digital or written annotations on or about an object.">Indicates the actor provided digital or written annotations on or about an object.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/commented">http://adlnet.gov/expapi/verbs/commented</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/201060446-v"><a href="http://wordnet-rdf.princeton.edu/wn31/201060446-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/201060446-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/completed" id="completed">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="completed">completed</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor finished or concluded the activity normally.">Indicates the actor finished or concluded the activity normally.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/completed">http://adlnet.gov/expapi/verbs/completed</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200485097-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200485097-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200485097-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/exited" id="exited">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="exited">exited</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor intentionally departed from the activity or object.">Indicates the actor intentionally departed from the activity or object. </td>
          <td><a href="http://adlnet.gov/expapi/verbs/exited">http://adlnet.gov/expapi/verbs/exited</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202019450-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202019450-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202019450-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/experienced" id="experienced">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="experienced">experienced</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor only encountered the object, and is applicable in situations where a specific achievement or completion is not required. ">Indicates the actor only encountered the object, and is applicable in situations where a specific achievement or completion is not required.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/experienced">http://adlnet.gov/expapi/verbs/experienced</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202114674-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202114674-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202114674-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/failed" id="failed">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="failed">failed</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor did not successfully pass an activity to a level of predetermined satisfaction.">Indicates the actor did not successfully pass an activity to a level of predetermined satisfaction.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/failed">http://adlnet.gov/expapi/verbs/failed</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202534046-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202534046-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202534046-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/imported" id="imported">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="imported">imported</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor introduced an object into a physical or virtual location.">Indicates the actor introduced an object into a physical or virtual location.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/imported">http://adlnet.gov/expapi/verbs/imported</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202237504-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202237504-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202237504-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/initialized" id="initialized">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="initialized">initialized</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the activity provider has determined that the actor successfully started an activity.">Indicates the activity provider has determined that the actor successfully started an activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/initialized">http://adlnet.gov/expapi/verbs/initialized</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200702662-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200702662-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200702662-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/interacted" id="interacted">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="interacted">interacted</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor engaged with a physical or virtual object.">Indicates the actor engaged with a physical or virtual object.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/interacted">http://adlnet.gov/expapi/verbs/interacted</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202382049-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202382049-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202382049-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/launched" id="launched">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="launched">launched</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor attempted to start an activity.">Indicates the actor attempted to start an activity. </td>
          <td><a href="http://adlnet.gov/expapi/verbs/launched">http://adlnet.gov/expapi/verbs/launched</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/201517828-v"><a href="http://wordnet-rdf.princeton.edu/wn31/201517828-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/201517828-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="https://w3id.org/xapi/adl/verbs/logged-in" id="logged-in">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="logged-in">logged-in</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor gained access to a system or service by identifying and authenticating with the credentials provided by the actor.">Indicates the actor gained access to a system or service by identifying and authenticating with the credentials provided by the actor.</td>
          <td><a href="https://w3id.org/xapi/adl/verbs/logged-in">https://w3id.org/xapi/adl/verbs/logged-in</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202253955-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202253955-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202253955-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="https://w3id.org/xapi/adl/verbs/logged-out" id="logged-out">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="logged-out">logged-out</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor either lost or discontinued access to a system or service.">Indicates the actor either lost or discontinued access to a system or service.</td>
          <td><a href="https://w3id.org/xapi/adl/verbs/logged-out">https://w3id.org/xapi/adl/verbs/logged-out</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202254101-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202254101-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202254101-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/mastered" id="mastered">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="mastered">mastered</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the highest level of comprehension or competence the actor performed in an activity.">Indicates the highest level of comprehension or competence the actor performed in an activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/mastered">http://adlnet.gov/expapi/verbs/mastered</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200599029-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200599029-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200599029-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/passed" id="passed">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="passed">passed</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor successfully passed an activity to a level of predetermined satisfaction.">Indicates the actor successfully passed an activity to a level of predetermined satisfaction.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/passed">http://adlnet.gov/expapi/verbs/passed</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202530710-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202530710-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202530710-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/preferred" id="preferred">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="preferred">preferred</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the selected choices, favored options or settings of an actor in relation to an object or activity.">Indicates the selected choices, favored options or settings of an actor in relation to an object or activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/preferred">http://adlnet.gov/expapi/verbs/preferred</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200681308-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200681308-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200681308-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/progressed" id="progressed">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="progressed">progressed</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates a value of how much of an actor has advanced or moved through an activity.">Indicates a value of how much of an actor has advanced or moved through an activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/progressed">http://adlnet.gov/expapi/verbs/progressed</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/201996535-v"><a href="http://wordnet-rdf.princeton.edu/wn31/201996535-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/201996535-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/registered" id="registered">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="registered">registered</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor is officially enrolled or inducted in an activity.">Indicates the actor is officially enrolled or inducted in an activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/registered">http://adlnet.gov/expapi/verbs/registered</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202477113-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202477113-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202477113-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/responded" id="responded">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="responded">responded</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates an actor reacted or replied to an object.">Indicates an actor reacted or replied to an object.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/responded">http://adlnet.gov/expapi/verbs/responded</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200719282-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200719282-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200719282-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/resumed" id="resumed">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="resumed">resumed</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the application has determined that the actor continued or reopened a suspended attempt on an activity.">Indicates the application has determined that the actor continued or reopened a suspended attempt on an activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/resumed">http://adlnet.gov/expapi/verbs/resumed</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200350937-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200350937-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200350937-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="https://w3id.org/xapi/adl/verbs/satisfied" id="satisfied">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="satisfied">satisfied</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates that the authority or activity provider determined the actor has fulfilled the criteria of the object or activity.">Indicates that the authority or activity provider determined the actor has fulfilled the criteria of the object or activity.</td>
          <td><a href="https://w3id.org/xapi/adl/verbs/satisfied">https://w3id.org/xapi/adl/verbs/satisfied</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202677669-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202677669-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202677669-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/scored" id="scored">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="scored">scored</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates a numerical value related to an actor's performance on an activity.">Indicates a numerical value related to an actor's performance on an activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/scored">http://adlnet.gov/expapi/verbs/scored</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/105745098-n"><a href="http://wordnet-rdf.princeton.edu/wn31/105745098-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/105745098-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/shared" id="shared">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="shared">shared</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the actor's intent to openly provide access to an object of common interest to other actors or groups.">Indicates the actor's intent to openly provide access to an object of common interest to other actors or groups.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/shared">http://adlnet.gov/expapi/verbs/shared</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202300511-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202300511-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202300511-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/suspended" id="suspended">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="suspended">suspended</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates the status of a temporarily halted activity when an actor's intent is returning to the or object activity at a later time.">Indicates the status of a temporarily halted activity when an actor's intent is returning to the or object activity at a later time.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/suspended">http://adlnet.gov/expapi/verbs/suspended</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200543748-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200543748-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200543748-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/terminated" id="terminated">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="terminated">terminated</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates that the actor successfully ended an activity.">Indicates that the actor successfully ended an activity.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/terminated">http://adlnet.gov/expapi/verbs/terminated</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/200353480-v"><a href="http://wordnet-rdf.princeton.edu/wn31/200353480-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/200353480-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="http://adlnet.gov/expapi/verbs/voided" id="voided">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="voided">voided</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A special reserved verb used by a LRS or application to mark a statement as invalid. See the xAPI specification for details on Voided statements. ">A special reserved verb used by a LRS or application to mark a statement as invalid. See the xAPI specification for details on Voided statements.</td>
          <td><a href="http://adlnet.gov/expapi/verbs/voided">http://adlnet.gov/expapi/verbs/voided</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202483482-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202483482-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202483482-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Verb -->
      <tbody typeof="xapi:Verb" about="https://w3id.org/xapi/adl/verbs/waived" id="waived">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="waived">waived</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Indicates that the learning activity requirements were met by means other than completing the activity. A waived statement is used to indicate that the activity may be skipped by the actor.">Indicates that the learning activity requirements were met by means other than completing the activity. A waived statement is used to indicate that the activity may be skipped by the actor.</td>
          <td><a href="https://w3id.org/xapi/adl/verbs/waived">https://w3id.org/xapi/adl/verbs/waived</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/202539728-v"><a href="http://wordnet-rdf.princeton.edu/wn31/202539728-v" target="_blank">http://wordnet-rdf.princeton.edu/wn31/202539728-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock content %}


<!-- Vocabulary of ADL Activity Types -->
  <h2 class="page-header">Activity Types</h2>
  <div class="panel panel-default table-responsive">
    <!-- Table Header -->
    <table class="table table-hover">
      <thead>
        <tr class="danger">
          <th>Acitivity Type</th>
          <th>Description</th>
          <th>ID (IRI)</th>
          <th>Closely Related Term</th>
          <th>Vocabulary</th>
        </tr>
      </thead>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/assessment">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="assessment" id="assessment">assessment</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="An assessment is an activity type that determines a learner’s mastery of a particular subject area. An assessment typically has one or more questions.">An assessment is an activity type that determines a learner’s mastery of a particular subject area. An assessment typically has one or more questions.</td>
          <td><a href="http://adlnet.gov/expapi/activities/assessment">http://adlnet.gov/expapi/activities/assessment</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/107211681-n"><a href="http://wordnet-rdf.princeton.edu/wn31/107211681-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/107211681-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/attempt">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="attempt" id="attempt">attempt</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="An attempt is a discrete set of learner experiences in an activity. This activity gives systems the ability to uniquely identify experiences when they may have happened in different interactions with the same activity.">An attempt is a discrete set of learner experiences in an activity. This activity gives systems the ability to uniquely identify experiences when they may have happened in different interactions with the same activity. </td>
          <td><a href="http://adlnet.gov/expapi/activities/attempt">http://adlnet.gov/expapi/activities/attempt</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/100787849-n"><a href="http://wordnet-rdf.princeton.edu/wn31/100787849-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/100787849-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/course">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="course" id="course">course</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A course represents an entire “content package” worth of material. The largest level of granularity. Unless flat, a course consists of multiple modules.">A course represents an entire “content package” worth of material. The largest level of granularity. Unless flat, a course consists of multiple modules.</td>
          <td><a href="http://adlnet.gov/expapi/activities/course">http://adlnet.gov/expapi/activities/course</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/100886144-n"><a href="http://wordnet-rdf.princeton.edu/wn31/100886144-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/100886144-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/file">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="file" id="file">file</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A file is similar to a link, only the resource is more likely to be used at a) a different time, b) can be used offline, and/or c) could be used with a different system. Only the expectation changes. Files are not considered learning content or SCOs. If a file is intended for this purpose, it should be re-categorized.">A file is similar to a link, only the resource is more likely to be used at a) a different time, b) can be used offline, and/or c) could be used with a different system. Only the expectation changes. Files are not considered learning content or SCOs. If a file is intended for this purpose, it should be re-categorized.</td>
          <td><a href="http://adlnet.gov/expapi/activities/file">http://adlnet.gov/expapi/activities/file</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/106521201-n"><a href="http://wordnet-rdf.princeton.edu/wn31/106521201-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/106521201-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/interaction">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="interaction" id="interaction">interaction</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="An interaction is typically a part of a larger activity (such as a assessment, game, or simulation) and refers to a control to which a learner provides input. An interaction can be either an asset or function independently.">An interaction is typically a part of a larger activity (such as a assessment, game, or simulation) and refers to a control to which a learner provides input. An interaction can be either an asset or function independently.</td>
          <td><a href="http://adlnet.gov/expapi/activities/interaction">http://adlnet.gov/expapi/activities/interaction</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/100039759-n"><a href="http://wordnet-rdf.princeton.edu/wn31/100039759-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/100039759-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/lesson">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="lesson" id="lesson">lesson</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="TA lesson is learning content that may or may not take on the form of a SCO (formal, tracked learning). A lesson may stand-alone or may be part of a larger course.">A lesson is learning content that may or may not take on the form of a SCO (formal, tracked learning). A lesson may stand-alone or may be part of a larger course.</td>
          <td><a href="http://adlnet.gov/expapi/activities/lesson">http://adlnet.gov/expapi/activities/lesson</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/100891150-n"><a href="http://wordnet-rdf.princeton.edu/wn31/100891150-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/100891150-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/link">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="link" id="link">link</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A link is simply a means of expressing a link to another resource within, or external to, an activity. A link is not synonymous with launching another resource and should be considered external to the current resource. Links are not learning content, nor SCOs. If a link is intended for this purpose, it should be re-categorized.">A link is simply a means of expressing a link to another resource within, or external to, an activity. A link is not synonymous with launching another resource and should be considered external to the current resource. Links are not learning content, nor SCOs. If a link is intended for this purpose, it should be re-categorized.</td>
          <td><a href="http://adlnet.gov/expapi/activities/link">http://adlnet.gov/expapi/activities/link</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/106598647-n"><a href="http://wordnet-rdf.princeton.edu/wn31/106598647-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/106598647-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/media">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="media" id="media">media</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="Media refers to text, audio, or video used to convey information. Media can be consumed (tracked: completed), but doesn’t have an interactive component that may result in a score, success, or failure.">Media refers to text, audio, or video used to convey information. Media can be consumed (tracked: completed), but doesn’t have an interactive component that may result in a score, success, or failure.</td>
          <td><a href="http://adlnet.gov/expapi/activities/media">http://adlnet.gov/expapi/activities/media</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/108479331-n"><a href="http://wordnet-rdf.princeton.edu/wn31/108479331-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/108479331-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/meeting">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="meeting" id="meeting">meeting</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A meeting is a gathering of multiple people for a common cause or interest.">A meeting is a gathering of multiple people for a common cause or interest.</td>
          <td><a href="http://adlnet.gov/expapi/activities/meeting">http://adlnet.gov/expapi/activities/meeting</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/101233454-n"><a href="http://wordnet-rdf.princeton.edu/wn31/101233454-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/101233454-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/module">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="module" id="module">module</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="TA module represents any “content aggregation” at least one level below the course level. Modules of modules can exist for layering purposes. Modules are not content. Modules are one level up from all content.">A module represents any “content aggregation” at least one level below the course level. Modules of modules can exist for layering purposes. Modules are not content. Modules are one level up from all content.</td>
          <td><a href="http://adlnet.gov/expapi/activities/module">http://adlnet.gov/expapi/activities/module</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/103784133-n"><a href="http://wordnet-rdf.princeton.edu/wn31/103784133-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/103784133-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/objective">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="objective" id="objective">objective</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="An objective determines whether competency has been achieved in a desired area. Objectives typically are associated with questions and assessments. Objectives are not learning content and cannot be SCOs.">An objective determines whether competency has been achieved in a desired area. Objectives typically are associated with questions and assessments. Objectives are not learning content and cannot be SCOs.</td>
          <td><a href="http://adlnet.gov/expapi/activities/objective">http://adlnet.gov/expapi/activities/objective</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/105990115-n"><a href="http://wordnet-rdf.princeton.edu/wn31/105990115-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/105990115-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/performance">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="performance" id="performance">performance</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A performance is an attempted task or series of tasks within a particular context. Tasks would likely take on the form of interactions, or the performance could be self-contained content. It emphasizes students or learners being able to do, or perform, specific skills as a result of the instruction.">A performance is an attempted task or series of tasks within a particular context. Tasks would likely take on the form of interactions, or the performance could be self-contained content. It emphasizes students or learners being able to do, or perform, specific skills as a result of the instruction.</td>
          <td><a href="http://adlnet.gov/expapi/activities/performance">http://adlnet.gov/expapi/activities/performance</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/100098324-n"><a href="http://wordnet-rdf.princeton.edu/wn31/100098324-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/100098324-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/profile">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="profile" id="profile">profile</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A profile is an activity that defines a set of rules and recommendations for generating xAPI statements for a particular domain. The inclusion of a profile activity in a statement identifies that statement as following the rules outlined in the profile.">A profile is an activity that defines a set of rules and recommendations for generating xAPI statements for a particular domain. The inclusion of a profile activity in a statement identifies that statement as following the rules outlined in the profile.</td>
          <td><a href="http://adlnet.gov/expapi/activities/profile">http://adlnet.gov/expapi/activities/profile</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/107015715-n"><a href="http://wordnet-rdf.princeton.edu/wn31/107015715-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/201517828-v</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/question">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="question" id="question">question</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A question is typically part of an assessment and requires a response from the learner, a response that is then evaluated for correctness.">A question is typically part of an assessment and requires a response from the learner, a response that is then evaluated for correctness.</td>
          <td><a href="http://adlnet.gov/expapi/activities/question">http://adlnet.gov/expapi/activities/question</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/107211342-n"><a href="http://wordnet-rdf.princeton.edu/wn31/107211342-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/107211342-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>

      <!-- Newly "minted" Activity Type -->
      <tbody typeof="xapi:ActivityType" about="http://adlnet.gov/expapi/activities/simulation">
        <tr>
          <td property="skos:prefLabel" lang="en" xml:lang="en" content="simulation" id="simulation">simulation</td>
          <td property="skos:definition" lang="en" xml:lang="en" content="A simulation is an attempted task or series of tasks in an artificial context that mimics reality. Tasks would likely take on the form of interactions, or the simulation could be self-contained content.">A simulation is an attempted task or series of tasks in an artificial context that mimics reality. Tasks would likely take on the form of interactions, or the simulation could be self-contained content.</td>
          <td><a href="http://adlnet.gov/expapi/activities/simulation">http://adlnet.gov/expapi/activities/simulation</a></td>
          <td rel="xapi:closelyRelatedNaturalLanguageTerm" resource="http://wordnet-rdf.princeton.edu/wn31/100900747-n"><a href="http://wordnet-rdf.princeton.edu/wn31/100900747-n" target="_blank">http://wordnet-rdf.princeton.edu/wn31/100900747-n</a></td>
          <td rel="skos:inScheme" resource="https://w3id.org/xapi/adl"><a href="https://w3id.org/xapi/adl" target="_blank">https://w3id.org/xapi/adl</a></td>
        </tr>
      </tbody>
    </table>
</div>

</div>



<!-- Bootstrap core JavaScript ================================================== -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
