{% extends "master.html" %}

{% block extra_css %}
<!-- This line holds stylesheets for individual pages if needed -->
{% load static %}
<link rel="stylesheet" href="{% static "vocab/css/home.css" %}">
{% endblock extra_css %}

{% block content %}
<div class="row content">
    <p class="para">Welcome to the User Profile Page.  Below you should find everything we know about you.  U B U!</p>
    <hr>
        <p>Hello {{ user.username }}. You aren't really that interesting.</p>
    <hr>
    <br>
    <ul>
    {% for url in user.userprofile.registerediri_set.all %}
    <li>{{ url.address }}</li>
    {% empty %}
    You have no IRIs registered
    {% endfor %}
    </ul>
</div>
{% endblock content %}
