body {
    color: blue;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0 0 5px 5px;
}

.jumbotron {
    margin-bottom: 0;
    background-color: lightblue;
}

footer {
    background-color: #bdf;
    padding: 25px;
    margin: 50px;
}

footer p {
    margin-top: 25px;
}
